[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/hamburg"]
	path = themes/hamburg
	url = https://github.com/hauke96/hugo-theme-hamburg.git
[submodule "themes/themes/cleanwhite"]
	path = themes/themes/cleanwhite
	url = https://github.com/zhaohuabing/hugo-theme-cleanwhite.git
